<div class="create-product-container" *ngIf="!loading">
  <div class="form-container">
    <h2>Datos producto</h2>
    <form nz-form [formGroup]="productForm">
      <div class="input-container">
        <label for="nombre">Nombre</label>
        <input
          nz-input
          type="text"
          formControlName="nombre"
          placeholder="Ingresa el nombre del producto"
        />
        <label for="desc">Descripcion</label>
        <input
          nz-input
          type="text"
          formControlName="desc"
          placeholder="Ingresa la descripcion del producto"
        />
        <label for="precio">Precio</label>
        <input
          nz-input
          type="number"
          formControlName="precio"
          placeholder="Ingresa el precio"
        />
        <label for="stock">Stock</label>
        <input
          nz-input
          type="number"
          formControlName="stock"
          placeholder="Ingresa la cantidad disponible"
        />
        <label for="img">Imagen</label>
        <input
          nz-input
          type="text"
          formControlName="img"
          placeholder="Ingresa la URL de la imagen del producto"
        />
      </div>
    </form>
    <div class="form-buttons">
      <button
      nz-button
      routerLink="/admin/products"
    >
      Volver
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="submitProduct()"
    >
      Actualizar producto
    </button>
</div>
  </div>
</div>
<div *ngIf="loading" class="products__loading">
  <ng-template #indicatorTemplate>
    <i
      nz-icon
      nzType="loading"
      [ngStyle]="{ 'font-size': '2rem', margin: '0 auto' }"
    ></i>
  </ng-template>
  <nz-spin nzSimple [nzIndicator]="indicatorTemplate"> </nz-spin>
</div>