<footer class="footer-container">
    <h3>Siguenos en nuestras redes sociales</h3>
    <div class="social-links">
        <a nz-icon nzType="facebook" nzTheme="outline" href="{{URLS.FACEBOOK}}" target="_blank" rel="noopener noreferrer"></a>
        <a nz-icon nzType="instagram" nzTheme="outline" href="{{URLS.INSTAGRAM}}" target="_blank" rel="noopener noreferrer"></a>
        <a nz-icon nzType="whats-app" nzTheme="outline" href="{{URLS.WSP}}" target="_blank" rel="noopener noreferrer"></a>
    </div>
</footer>
