<header class="header-container">
  <div class="header-container__left">
    <button
      class="menu-mobile"
      nz-button
      nzType="text"
      size="large"
      (click)="toggleMenu()"
      nzShape="circle"
      nzSize="large"
    >
      <i
        nz-icon
        nzType="menu"
        [ngStyle]="{ 'font-size': '1.25rem', 'padding-top': '6px' }"
      ></i>
    </button>
    <ul nz-menu nzMode="horizontal">
      <li nz-submenu nzTitle="Productos" nzMatchRouter>
        <ul>
          <li routerLink="/products/panaderia" nz-menu-item>Panaderia</li>
          <li routerLink="/products/pasteleria" nz-menu-item>Pasteleria</li>
        </ul>
      </li>
      <li nz-menu-item nzMatchRouter> 
          <a routerLink="/about"></a>Nosotros</li>
      </ul>
  </div>
  <div class="header-container__middle">
    <div class="logo">
      <img class="logo-img" routerLink="/" src="../../assets/logo_emym_nobg.png" alt="logo_emym" width="100px"></div>
  </div>
  <div class="header-container__right">
    <div class="desktop-menu">
      <div *ngIf="isLoggedIn && loggedUser" >
        <button nz-button nzType="primary" nzShape="round" nzSize="large" nz-dropdown [nzDropdownMenu]="menuLogged" [nzPlacement]="menuPosition"><i nz-icon nzType="user"></i>{{loggedUser.fname}}</button>
        <nz-dropdown-menu #menuLogged="nzDropdownMenu">
          <ul nz-menu nzInlineIndent=60>
            <li nz-menu-item *ngIf="isAdmin" routerLink="/admin/products"><i nz-icon nzType="database"></i>Administrar</li>
            <li nz-menu-item routerLink="/order-history"><i nz-icon nzType="barcode"></i>Mis pedidos</li>
            <li nz-menu-item routerLink="/profile"><i nz-icon nzType="setting"></i>Mi perfil</li>
            <li nz-menu-item routerLink="/" (click)="logout()"><i nz-icon nzType="logout"></i>Cerrar sesion</li>
          </ul>
        </nz-dropdown-menu>
      </div>
      <div *ngIf="!isLoggedIn" >
        <button nz-button nzType="primary" nzShape="round" nzSize="large" routerLink="/login">
          <i nz-icon nzType="login"></i>Iniciar sesion</button>
      </div>
    </div>
    <ng-container>
      <div class="cart-counter">{{ cartData.products.length }}</div>
      <button
        nz-button
        nz-dropdown
        nzType="text"
        nzTrigger="click"
        nzPlacement="right"
        nzShape="circle"
        nzSize="large"
        [nzDropdownMenu]="menu"
        [nzVisible]="dropdownVisible"
        (nzVisibleChange)="toggleDropdown()"
      >
        <i
          nz-icon
          nzType="shopping-cart"
          [ngStyle]="{ fontSize: '24px', paddingTop: '3px' }"
        ></i>
      </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="cart-dropdown">
          <div
            class="cart-dropdown__empty"
            *ngIf="cartData.products.length === 0"
          >
            Tu carro esta vacio.
          </div>
          <div
            class="cart-dropdown__content"
            *ngIf="cartData.products.length !== 0"
          >
            <div class="product-list">
              <div
                class="product-list__item"
                *ngFor="let product of cartData.products; index as i"
                [ngStyle]="{
                  'border-bottom':
                    i !== cartData.products.length - 1 && '1px solid #ccc'
                }"
              >
                <div class="product-item">
                  <div
                    class="product-item__remove"
                    (click)="removeProductFromCart(product.id)"
                  >
                    X
                  </div>
                  <div class="product-item__image">
                    <img [src]="product.image" alt="" />
                  </div>
                  <div class="product-item__description">
                    <div class="product-name">{{ product.title }}</div>
                    <div class="product-amount">
                      {{ product.quantity }} x
                      <span>{{ product.price | currency: "CLP" }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cart-info">
              <div class="selected-amount">
                {{ cartData.products.length }} Item(s)
              </div>
              <div class="total-price">
                Total: {{ cartData.total | currency: "CLP" }}
              </div>
            </div>
            <div class="cart-cta">
              <button
                nz-button
                nzSize="large"
                routerLink="/cart"
                (click)="toggleDropdown()"
                [ngStyle]="{
                  borderLeft: 'none',
                  borderRight: 'none',
                  borderBottom: 'none'
                }"
              >
                Ver carro
              </button>
              <button
                nz-button
                nzType="primary"
                nzSize="large"
                routerLink="/checkout"
                (click)="toggleDropdown()"
                [ngStyle]="{
                  borderLeft: 'none',
                  borderRight: 'none',
                  borderBottom: 'none'
                }"
              >
                Ir a pagar
              </button>
            </div>
          </div>
        </div>
      </nz-dropdown-menu>
    </ng-container>
  </div>
</header>

<div [className]="isMenuOpen ? 'side-menu show' : 'side-menu'">
  <i nz-icon nzType="close" nzTheme="outline" (click)="toggleMenu()"></i>
  <div class="side-menu__content">
    <h2 routerLink="/" (click)="toggleMenu()">Entre migas y masas</h2>
    <nav>
      <ul>
        <li *ngIf="isAdmin" routerLink="/admin/products">Administrar</li>
        <li routerLink="/cart" (click)="toggleMenu()">Carro</li>
        <li routerLink="/order-history" (click)="toggleMenu()">Mis pedidos</li>
        <li routerLink="/profile" (click)="toggleMenu()">Perfil</li>
      </ul>
    </nav>
    <div class="bottom-menu">
      <button
        nz-button
        routerLink="/login"
        (click)="toggleMenu()"
        *ngIf="!isLoggedIn"
      >
        Iniciar sesion
      </button>
      <button
        nz-button
        routerLink="/register"
        (click)="toggleMenu()"
        *ngIf="!isLoggedIn"
      >
        Registrate
      </button>
      <button nz-button (click)="logout() && toggleMenu()" *ngIf="isLoggedIn">
        Cerrar sesion
      </button>
    </div>
  </div>
</div>

<div
  [className]="isMenuOpen ? 'darken-background enable' : 'darken-background'"
  (click)="toggleMenu()"
></div>
